@import "tailwindcss" ;

@source ".../node_modules/color-name/index.js";

@theme{
  --deepblue-500: #023047;
  --bg-secondary: #6c757d;
  --background-hero: url('./assets/bg.png');
  --breakpoint-xs: 30rem;
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.background-hero {
  background-image: var(--background-hero);
}

.bg-deepblue-500 {
  background-color: var(--deepblue-500);
}

p {
  line-height: 1.3;
  font-size: 14px;
  color: #a5a2a2;
}

@utility h2 {
  font-size: 25px;
  line-height: 1.25; /* leading-tight */
  margin-bottom: 1rem; /* mb-4 */
  font-weight: 700; /* font-bold */
}

@utility h5 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

@utility max-padd-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 24px; /* px-6 = 6 * 4px */
  padding-right: 24px; /* px-6 = 6 * 4px */
}

@utility btn-white {
  font-size: 14px; 
  font-weight: 500; 
  background-color: #ffffff;
  color: #4B5563; 
  border: 1px solid #ffffff; 
  padding: 10px 28px; 
  border-radius: 9999px; 
}

@utility btn-light {
  font-size: 14px;
    font-weight: 500;
    background-color: #DFDDDF; 
    border: 1px solid #DFDDDF; 
    padding-left: 1.75rem; 
    padding-right: 1.75rem;
    padding-top: 0.625rem; 
    padding-bottom: 0.625rem; 
    border-radius: 9999px; 
    transition-property: all;
    transition-duration: 300ms;
}

@utility btn-dark {
  font-size: 14px; 
  font-weight: 500; 
  background-color: #4B5563; 
  color: #ffffff; 
  border: 1px solid #4B5563; 
  padding: 10px 28px; 
  border-radius: 9999px; 
}

@utility flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@utility flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility bold-28 {
  font-weight: 700;
  font-size: 28px;
}

@utility bold-24 {
  font-weight: 700;
  font-size: 24px;
}

@utility bold-15 {
  font-weight: 700;
  font-size: 15px;
}

@utility medium-15{
  font-size:15px;
  font-weight:500;
}

@utility active-link {
  padding-left: 12px; 
  padding-right: 12px; 
  padding-top: 8px;  
  padding-bottom: 8px; 
  border-radius: 9999px; 
  background-color: rgb(0 0 0 / 80%);
  color: white;
}

@screen lg {
  .max-padd-container {
    padding-left: 48px; /* lg:px-12 = 12 * 4px */
    padding-right: 48px; /* lg:px-12 = 12 * 4px */
  }
}

@screem md {
  .h2 {
    font-size: 35px;
    line-height: 1.3;
  }

  .h5{
    font-size: 15px;
  }
}

@plugin "tailwindcss-animate";